@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  width: 57.5rem;
  height: 31.25rem;
}

div .column_left,
div .column_center,
div .column_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  width: 9.125rem;
  height: 3rem;
  margin: 5.19rem 0 0 3rem;
  background: #f2f2f2;
  border: 0.125rem solid;
  border-radius: 1.5625rem;
  font-size: 0.9375rem;
  font-family: "Lexend Deca";
}

button:hover {
  cursor: pointer;
}

img {
  margin: 3rem 0 2.19rem 3rem;
}

h2 {
  margin: 0 0 0 3rem;
  font-size: 2.5rem;
  font-family: "Big Shoulders Display";
  color: #fff;
}

p {
  opacity: 0.75;
  margin: 1.56rem 3rem 0 3rem;
  font-size: 0.9375rem;
  font-family: "Lexend Deca";
  line-height: 1.5625rem;
  color: #fff;
}

.column_left {
  background: #e28625;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.column_center {
  background: #006971;
}

.column_right {
  background: #004140;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.learn_more_left {
  color: #e28625;
}

.learn_more_left:hover {
  background-color: #e28625;
  color: #fff;
}

.learn_more_center {
  color: #006971;
}

.learn_more_center:hover {
  background-color: #006971;
  color: #fff;
}

.learn_more_right {
  color: #004140;
}

.learn_more_right:hover {
  background-color: #004140;
  color: #fff;
}

@media (max-width: 56.25rem) {
  main {
    display: flex;
    flex-direction: column;
    width: 20.4375rem;
    height: 82.875rem;
    border-radius: 0.5rem;
  }

  button {
    margin: 1.56rem 0 3rem 3rem;
  }

  .column_left {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }

  .column_right {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
  }
}
